httpx>=0.24.0
apscheduler>=3.10.0
fastapi>=0.100.0
uvicorn>=0.22.0
python-multipart>=0.0.6
python-dotenv>=1.0.0
loguru>=0.7.0
lark-oapi>=1.5.3
pyyaml>=6.0.0
gitpython>=3.1.0
redis>=4.0.0
winshell>=0.6
playwright>=1.40.0
playwright-stealth>=2.0.0
pyinstaller>=6.0.0
pydantic>=2.0.0
